@model DashboardAkvelonProject.Models.Project

@{
    ViewBag.Title = "DeleteProjecet";
}

<h2>DeleteProjecet</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.completionProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.completionProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priroty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priroty)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Projects", "Index", new { }, new { @class = "btn btn-primary btn-link" })
        </div>
    }
</div>
