@model IEnumerable<DasboardAkvelon.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
<br />
<p>
    @Html.ActionLink("Create New", "CreateProject",new { },new {@class="btn bt-primary btn-link" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name Project", "Index", new {value="name"} , new {@class= "clear-column" })
        </th>
        <th>
            @Html.ActionLink("Start Project", "Index", new { value = "start" }, new { @class = "clear-column" })
        </th>
        <th>
            @Html.ActionLink("Completion Project", "Index", new { value = "completion" }, new { @class = "clear-column" })
        </th>
        <th>
            @Html.ActionLink("Status Project", "Index", new { value = "status" }, new { @class = "clear-column" })
        </th>
        <th>
            @Html.ActionLink("Priroty Project", "Index", new { value = "priroty" }, new { @class = "clear-column" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completionProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priroty)
        </td>
        <td>
            @Html.ActionLink("Create NEW Tasks", "CreateTask", new { idProject = item.id },new {@class="btn btn-danger"}) |
            @Html.ActionLink("Tasks", "Tasks", new { id = item.id }) |
            @Html.ActionLink("Edit", "EditProject", new { id = item.id }) |
            @Html.ActionLink("Details", "DetailsProject", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeleteProject", new { id = item.id })
        </td>
    </tr>
}

</table>
