@model DasboardAkvelon.Models.Context.ProjectContext
<div class="container" id="projects-box">
    @foreach (var item in Model.Projects)
    {
        <div class="container project-container">
            <h3 style="font-family: Microsoft JhengHei;">@item.name</h3><br />
            <ul>
                <li>Start Project</li>
                <li>@item.startProject.Year.@item.startProject.Month.@item.startProject.Day</li>
                <li>Completion Project</li>
                <li>@item.completionProject.Year.@item.completionProject.Month.@item.completionProject.Day</li>
                <li>Status Project</li>
                <li>@item.statusProject</li>
                <li>Priroty Project</li>
                <li>@item.priroty</li>
                @Html.ActionLink("See Tasks", "ProjectTask", new { id = item.id }, new { @class = "btn btn-link" })
            </ul>
        </div>
    }
</div>
<style>
    li{
        list-style:none;
    }
    #projects-box ul{
        margin-left:0;
        padding-left:0;
    }
        #projects-box ul li:nth-child(4) {
            font-family: Century Gothic;
        }
    #projects-box ul li:nth-child(2) {
        font-family: Century Gothic;
    }
    #projects-box ul li:nth-child(2n) {
        margin:10px;
        font-size:20px;
        color:#424242;
    }
    .test{
        width:325px;
        height:325px;
        margin:10px;
        background-color:black;
    }
    .btn-link:hover {
        border: 1px solid black;
        text-decoration: none;
        background-color:#52c0ff;
        color:black;
    }
    .btn-link{
        border:1px solid black;
        text-decoration:none;
        background-color:#52c0ff;
        color:#ffffff;
        border-radius:3px 3px;
    }
    .project-container{
        border:1px solid black;
        width:25%;
        margin:10px;
        display:inline-block;
        background-color:#a5a5a5;
        color:white;
    }
    #projects-box{
        width:100%;
    }
</style>