@model List<DasboardAkvelon.Models.Task>


<div class="container" id="task-box">
    @foreach (var item in Model)
    {
        <div class="container task-container">
            <h3 style="font-family: Microsoft JhengHei;">@item.name</h3><br />
            <ul>
                <li>Task Description</li>
                <li>@item.description</li>
                <li>Task Status</li>
                <li>@item.status</li>
                <li>Task Priroty</li>
                <li>@item.priroty</li>
                @Html.ActionLink("Edit Task", "EditTask", new { id = item.id }, new { @class = "btn btn-link" })
            </ul>
        </div>
    }
</div>
<button class="btn btn-success" style="margin-left:25px;">@Html.ActionLink("Create Task", "CreateTask")</button>
<style>
    a:hover {
        color: black;
        text-decoration: none;
    }
    a {
        color: white;
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    #task-box ul {
        margin-left: 0;
        padding-left: 0;
    }

        #task-box ul li:nth-child(4) {
            font-family: Century Gothic;
        }

        #task-box ul li:nth-child(2) {
            font-family: Century Gothic;
        }

        #task-box ul li:nth-child(2n) {
            margin: 10px;
            font-size: 20px;
            color: #424242;
        }


    .btn-link:hover {
        border: 1px solid black;
        text-decoration: none;
        background-color: #5e89ff;
        color: black;
    }

    .btn-link {
        border: 1px solid black;
        text-decoration: none;
        background-color: #5e89ff;
        color: #ffffff;
        border-radius: 3px 3px;
    }

    .task-container {
        border: 1px solid black;
        width: 25%;
        margin: 10px;
        display: inline-block;
        background-color: #a5a5a5;
        color: white;
    }

    #task-box {
        width: 100%;
    }
